<launch>
    <let name="urdf_path" value="$(find-pkg-share my_robot_description)/urdf/my_robot.urdf.xacro"/>
    <let name="srdf_path" value="$(find-pkg-share my_robot_moveit_config)/config/my_robot.srdf"/>
    <let name="kinematics_path" value="$(find-pkg-share my_robot_moveit_config)/config/kinematics.yaml"/>
    
    <let name="gazebo_config_path" value="$(find-pkg-share my_robot_bringup)/config/gazebo_bridge.yaml"/>
    <let name="rviz_config_path" value="$(find-pkg-share my_robot_moveit_config)/config/moveit.rviz"/>
    
    <node pkg="robot_state_publisher" exec="robot_state_publisher">
        <param name="robot_description" value="$(command 'xacro $(var urdf_path)')"/>
    </node>
    
    <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
        <arg name="gz_args" value="empty.sdf -r"/>
    </include>
    
    <node pkg="ros_gz_sim" exec="create" args="-topic robot_description"/>
    
    <node pkg="ros_gz_bridge" exec="parameter_bridge">
        <param name="config_file" value="$(var gazebo_config_path)"/>
    </node>
    
    <node pkg="controller_manager" exec="spawner" args="joint_state_broadcaster"/>
    <node pkg="controller_manager" exec="spawner" args="arm_controller"/>
    <node pkg="controller_manager" exec="spawner" args="gripper_controller"/>
    
    <include file="$(find-pkg-share my_robot_moveit_config)/launch/move_group.launch.py"/>
    
    <node pkg="rviz2" exec="rviz2" output="screen" args="-d $(var rviz_config_path)">
        <param name="robot_description" value="$(command 'xacro $(var urdf_path)')" type="str"/>
        <param name="robot_description_semantic" value="$(command 'cat $(var srdf_path)')" type="str"/>
        <param from="$(var kinematics_path)"/>
    </node>
</launch>





  <node pkg="ros_gz_bridge" exec="parameter_bridge">
    <param name="config_file" value="$(var gazebo_config_path)"/>
    </node>



    from moveit_configs_utils import MoveItConfigsBuilder
from moveit_configs_utils.launches import generate_move_group_launch


def generate_launch_description():
    moveit_config = MoveItConfigsBuilder("my_robot", package_name="my_robot_moveit_config").to_moveit_configs()
    return generate_move_group_launch(moveit_config)